:root {
  --text-color: #434455;
  --primary-color: #ffffff;
  --btn-color: #4d5ae5;
  --active-color: #404bbf;
  --second-color: #f4f4fd;
  --color-dark: #2e2f42;
  --color-grey: #8e8f99;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --button: #e7e9fc;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}
/* .container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
} */
/* -------------------------HEADER----------------- */
.head-container {
  max-width: 428px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid var(--button);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav-list {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
.nav-item {
  padding: 24px 0;
}
.link-head {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: var(--btn-color);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 22px;
  /* margin-right: 76px; */
}
.logo {
  color: var(--color-dark);
  display: flex;
  align-items: center;
}

.head-menu {
  margin-right: 9px;
  fill: var(--color-dark);
}

.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-list {
  display: none;
  gap: 40px;
}

.logo {
  color: var(--color-dark);
}
.link-nav:focus {
  color: var(--active-color);
}
.link-nav:hover {
  color: var(--active-color);
}
.link-logo {
  font-weight: 800;
  color: var(--second-color);
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  padding: 24px 0;
  transition: color var(--transition);
}
.active {
  position: relative;
  color: var(--active-color);
  transition: color var(--transition);
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--active-color);
  border-radius: 2px;
}

.link-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  width: 153px;
  padding: 24px 0;
  transition: color var(--transition);
}
.link-contact:hover {
  color: var(--active-color);
}
.link-contact:focus {
  color: var(--active-color);
}

.mob-menu {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-toggle {
  display: block;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--color-dark);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition);
  margin-bottom: 32px;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-left: 16px;
  margin-top: 56px;
  top: 80px;
}
.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
}
.studio-color {
  color: var(--active-color);
}
.mob-menu-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  margin-left: 16px;
  top: 80px;
}
.mob-link-tel {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--btn-color);
}
.mob-link-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mob-menu-soc-item {
  max-width: 100%;
  margin-top: 48px;
  margin-left: 16px;
  margin-bottom: 16px;
  display: flex;
  gap: 28px;
}
.mob-soc-item {
  min-width: 40px;
  min-height: 40px;
}
.mob-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
  transition: background-color var(--transition);
}

/* ---------------------------MAIN----------------------- */

.section-main {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg2x.jpg);
  background-color: var(--color-dark);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  padding: 112px 0;
  margin: 0 auto;
}

.title-main {
  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
}
.button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  background-color: var(--btn-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color var(--transition);
}
.button:hover {
  background-color: var(--active-color);
}
.button:focus {
  background-color: var(--active-color);
}
/* --------------------------TEXT------------------------ */
.text-section {
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.text-item {
  width: 100%;
}
.text-icon-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 396px;
  height: 112px;
  background: var(--second-color);
  border-radius: 4px;
  margin-bottom: 8px;
}

.title-three {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 8px;
}
.title-two {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}
/* ----------------------------IMG------------------------------ */
.img-section {
  display: none;
  padding-bottom: 120px;
  left: 156px;
  top: 1016px;
  margin: 0 auto;
}
.img-list {
  display: flex;
  gap: 24px;
}
.im-item {
  flex-basis: calc((100% - 24px) / 2);
}
/* -----------------------------TEAM------------------------------- */

.team-container {
  max-width: 428px;
  /* padding: 0 82px; */
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; */
}
.team-section {
  /* max-width: 428px; */
  padding-bottom: 96px;
  padding-top: 96px;
  background-color: var(--second-color);
  margin: 0 auto;
}
.team-list {
  flex-wrap: wrap;
  display: flex;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);

  margin-bottom: 72px;
}
.team-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  text-align: center;
  margin-bottom: 8px;
}
.team-name {
  padding: 32px 0;
}
.team-item-img {
  width: 100%;
  height: auto;
  /* flex-basis: calc((100% - 24px) / 3); */
  padding-top: 232;
  padding-bottom: 120;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  text-align: center;
}
.team-soc {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  display: flex;
  gap: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
  transition: var(--transition);
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background: var(--active-color);
}

.team-soc-icon {
  fill: var(--second-color);
  transition: var(--transition);
}

.team {
  background-color: var(--second-color);
}
.team-item {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}
/* ---------------------------CUSTOMERS-------------------------- */
.customers-section {
  max-width: 428px;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0 auto;
}

.cust-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-dark);
  margin-bottom: 72px;
}
.cust-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  align-items: center;
  justify-content: center;
}
.cust-item {
  width: 130px;
  height: 88px;
  border-radius: 4px;
}
.cust-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
  transition: color var(--transition), border-color var(--transition);
}
.cust-link:hover,
.cust-link:focus {
  color: var(--active-color);
  border-color: var(--active-color);
}
.cust-icon {
  fill: currentColor;
}

/* -----------------------------FOOTER--------------------------- */
.footer-container {
  max-width: 428px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.footer {
  background-color: var(--color-dark);
  left: 0px;
  top: 2280px;
  padding-top: 110px;
  padding-bottom: 82px;
  margin: 0 auto;
}
.footer-position {
  width: 268px;
  height: 112px;
  margin-bottom: 72px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.link-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-color);
  display: inline-block;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.logo-footer {
  color: var(--second-color);
}
.footer-text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-soc {
  margin-bottom: 72px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-soc-item {
  display: flex;
  gap: 16px;
}
.soc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--btn-color);
  transition: background-color var(--transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background: #31d0aa;
}

.footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.subscribe-input {
  max-width: 398px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  padding-left: 16px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-color);
}

.subscribe-btn {
  max-width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  background-color: var(--btn-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
}

.footer-btn-icon {
  margin-left: 16px;
}

/* ------------------------PORTFOLIO--------------------------- */
.portfolio-section {
  padding-bottom: 120px;
  padding-top: 96px;
}
.btn-list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-basis: calc((100% - 24px) / 4);
  margin-bottom: 72px;
  margin-left: 271px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.btn-item {
  transition: var(--transition), border-color var(--transition),
    box-shadow var(--transition);
}
.button-portfolio {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--btn-color);
  background-color: var(--second-color);
  border: 1px solid var(--button);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  box-sizing: border-box;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}
.button-portfolio:hover {
  color: var(--primary-color);
  background-color: var(--active-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio:focus {
  color: var(--primary-color);
  background-color: var(--active-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
  box-sizing: border-box;
}
.title-card {
  text-align: none;
  padding: 32px 16px;
  border: 1px solid var(--button);
  border-top: none;
  transition: var(--transition);
}
.title-card:hover,
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 8px;
}
.portfolio-item {
  width: 360px;
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
}
.portfolio-link {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .portfolio-cover-text {
  transform: translateY(0%);
}
.portfolio-link:focus .portfolio-cover-text {
  transform: translateY(0%);
}

.portfolio-block {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-block {
  position: absolute;
  /* background-color: var(--btn-color); */
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding: 40px 32px;
  background-color: var(--btn-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition);
}
.portfolio-item:hover .portfolio-cover-block {
  transform: translate(0);
}
/* ------------------------------MODAL------------------------ */
.backdrop {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%) scale(1);
  transition: transform var(--transition);
  width: 300px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  background-color: var(--button);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition), border var(--transition);
}
.modal-btn:focus,
.modal-btn:hover {
  border: none;
  background-color: var(--active-color);
  fill: var(--primary-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-close {
  transition: fill var(--transition);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-bottom: 16px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-name {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
  max-width: 360px;
  height: 40px;
}
.modal-label {
  /* height: 100%; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-grey);
  margin-bottom: 4px;
  display: block;
}
.user {
  height: 100%;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  padding-right: 24px;
  transition: border-color var(--transition);
}
.user:focus {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
}
.user:focus + .modal-icon {
  stroke: var(--btn-color);
  fill: var(--btn-color);
}

.modal-input-phone {
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}

.modal-input-email {
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.comment {
  margin-bottom: 16px;
}
.user-comment {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--transition);
}
.user-comment:focus {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
}
.user-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: var(--color-dark);
  transform: translateY(-50%);
  transition: fill var(--transition);
}
.modal-policy {
  margin-bottom: 24px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}
.check-text a {
  color: var(--btn-color);
  text-decoration: underline;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}
.input-check:checked + .check-text span {
  background-color: var(--active-color);
  border: none;
  fill: var(--second-color);
}
.modal-button {
  min-width: 169px;
  height: 56px;
  background: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
  transition: background-color var(--transition);
}
@media screen and (min-width: 428px) {
  .modal {
    width: 408px;
  }
  .mob-menu-soc-item {
    gap: 56px;
  }
  .cust-item {
    width: 190px;
  }
  .mob-link-tel {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .container,
  .team-container,
  .footer-container {
    max-width: 768px;
  }

  .menu-toggle {
    display: none;
  }

  .nav-list {
    display: flex;
    margin-left: 120px;
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .link-contact {
    font-size: 12px;
    top: 16px;
    padding: 0 0 0 0;
  }
  .title-main {
    font-size: 56px;
    max-width: 496px;
  }
  .title-three {
    text-align: left;
  }
  .button {
    margin-top: 36px;
  }
  .text-item,
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  .text-list {
    gap: 72px 24px;
  }
  .team-list,
  .cust-list {
    gap: 64px 24px;
  }
  .cust-item {
    width: 168px;
  }

  .subscribe-input {
    min-width: 264px;
  }
  .footer-container {
    justify-content: flex-start;
    gap: 72px 24px;
  }
  .footer-position {
    margin-bottom: 0;
    margin-left: 90px;
  }
  .link-footer {
    margin-left: 0;
  }
  .footer-soc {
    margin-top: 96;
    margin-bottom: auto;
    align-items: flex-start;
  }
  .footer-soc-item {
    margin-top: 0;
  }
  .footer-form {
    align-items: flex-start;
    margin-left: 90px;
  }
}

@media screen and (min-width: 1158px) {
  .container,
  .team-container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .head-container {
    max-width: 1158px;
  }
  .nav-list {
    display: flex;
    margin-left: 76px;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .link-contact {
    font-size: 16px;
    padding: 24px 0;
  }
  .section-main {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/main-bkg.jpg);
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
  }
  .title-main {
    font-size: 56px;
    max-width: 496px;
  }
  .button {
    margin-top: 48px;
  }
  .text-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .text-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .text-item {
    width: calc((100% - 24px) / 3);
  }
  .text-icon-container {
    width: 264px;
    display: flex;
  }
  .title-three {
    font-size: 20px;
    font-weight: 500;
  }
  .img-section {
    display: block;
  }
  .team-container {
    padding: none;
    width: unset;
    max-width: 1440px;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item-img {
    flex-basis: calc((100% - 24px) / 3);
    width: unset;
    height: unset;
  }
  .customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1128px;
  }
  .cust-list {
    flex-wrap: nowrap;
    gap: 24px;
    align-items: unset;
    justify-content: unset;
  }
  .cust-item {
    width: 168px;
  }

  .footer-container {
    max-width: 1158px;
    margin: 0 auto;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: unset;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-position {
    margin-right: 120px;
    margin-left: unset;
    width: unset;
    height: unset;
    margin-bottom: unset;
    display: block;
  }
  .link-footer {
    align-items: unset;
    margin-bottom: 16px;
    margin-right: unset;
    margin-left: unset;
  }
  .footer-text {
    width: 264px;
  }
  .footer-soc {
    margin-bottom: unset;
    display: block;
  }
  .soc-title {
    margin-bottom: 16px;
  }
  .footer-form {
    margin-left: 80px;
    display: block;
  }
  .footer-title {
    margin-bottom: 16px;
  }
  .subscribe-form {
    flex-wrap: nowrap;
  }
  .subscribe-input {
    min-width: 264px;
  }
}
